<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.whxlover.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.whxlover.pojo.Comment" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="username1" property="username1" jdbcType="VARCHAR" />
    <result column="username2" property="username2" jdbcType="VARCHAR" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="verified" property="verified" jdbcType="INTEGER" />
    <result column="avator" property="avator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cid, username1, username2, vid, content, verified, avator
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.whxlover.pojo.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.whxlover.pojo.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.whxlover.pojo.Comment" >
    insert into comment (cid, username1, username2, 
      vid, content, verified, 
      avator)
    values (#{cid,jdbcType=INTEGER}, #{username1,jdbcType=VARCHAR}, #{username2,jdbcType=VARCHAR}, 
      #{vid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{verified,jdbcType=INTEGER}, 
      #{avator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.whxlover.pojo.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="username1 != null" >
        username1,
      </if>
      <if test="username2 != null" >
        username2,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="verified != null" >
        verified,
      </if>
      <if test="avator != null" >
        avator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="username1 != null" >
        #{username1,jdbcType=VARCHAR},
      </if>
      <if test="username2 != null" >
        #{username2,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="verified != null" >
        #{verified,jdbcType=INTEGER},
      </if>
      <if test="avator != null" >
        #{avator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.whxlover.pojo.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.username1 != null" >
        username1 = #{record.username1,jdbcType=VARCHAR},
      </if>
      <if test="record.username2 != null" >
        username2 = #{record.username2,jdbcType=VARCHAR},
      </if>
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.verified != null" >
        verified = #{record.verified,jdbcType=INTEGER},
      </if>
      <if test="record.avator != null" >
        avator = #{record.avator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set cid = #{record.cid,jdbcType=INTEGER},
      username1 = #{record.username1,jdbcType=VARCHAR},
      username2 = #{record.username2,jdbcType=VARCHAR},
      vid = #{record.vid,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      verified = #{record.verified,jdbcType=INTEGER},
      avator = #{record.avator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.whxlover.pojo.Comment" >
    update comment
    <set >
      <if test="username1 != null" >
        username1 = #{username1,jdbcType=VARCHAR},
      </if>
      <if test="username2 != null" >
        username2 = #{username2,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="verified != null" >
        verified = #{verified,jdbcType=INTEGER},
      </if>
      <if test="avator != null" >
        avator = #{avator,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.whxlover.pojo.Comment" >
    update comment
    set username1 = #{username1,jdbcType=VARCHAR},
      username2 = #{username2,jdbcType=VARCHAR},
      vid = #{vid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      verified = #{verified,jdbcType=INTEGER},
      avator = #{avator,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>